aiogram==2.13
aiohttp==3.7.4.post0
altgraph==0.17
apipkg==1.5
appdirs==1.4.4
async-timeout==3.0.1
attrs==20.3.0
Babel==2.9.1
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
contextlib2==0.6.0.post1
distlib==0.3.1
execnet==1.8.0
filelock==3.0.12
flake8==3.9.1
idna==2.10
iniconfig==1.1.1
macholib==1.14
mccabe==0.6.1
mock==4.0.3
multidict==5.1.0
packaging==20.9
path==15.1.2
path.py==12.5.0
pipenv==2020.11.15
pluggy==0.13.1
psycopg2=2.8.6
py==1.10.0
pycodestyle==2.7.0
pyflakes==2.3.1
pygame==2.0.1
pyinstaller==4.2
pyinstaller-hooks-contrib==2021.1
pyparsing==2.4.7
pytest==6.2.3
pytest-shutil==1.7.0
pytz==2021.1
requests==2.25.1
six==1.15.0
soupsieve==2.2.1
termcolor==1.1.0
toml==0.10.2
typing-extensions==3.10.0.0
urllib3==1.26.4
virtualenv==20.4.3
virtualenv-clone==0.5.4
yarl==1.6.3
